
.product-image{
    width : 80%;
    height: 60%;
    padding: 30px;
}
.button-cont{
    text-align: center;
    
}
.products-button{
    padding: 12px;
    border: 0px;
    border-radius: 5px;
    background-color:rgb(227, 160, 17) ;
    color: white;
    margin: 5px;
}
.buyNow-button{
    padding: 12px;
    border: 0px;
    border-radius: 5px;
    background-color:rgb(241, 124, 7) ;
    color: white;
    margin: 5px;
}
.price-para{
    font-weight: bold;
    font-size: 32px;
}
@media (min-width:768px){
    .product-item-details-container{
        display: flex;
    }
}
.right-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.rating-containers {
    display: flex;
    /* align-items: center; */
    width: 50px;
    background-color: #3b82f6;
    border-radius: 6px;
    padding: 6px 16px;
  }
  
  .ratings {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    margin-right: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .stars {
    height: 20px;
    width: 20px;
    margin-bottom: 3px;
  }
  